.rah{
  /* margin-bottom:10px; */
  color:white;
  font-size:16px;
 
}
.rah1{
  color:white;
  font-size:18px;
}
.icon1{
  font-size:23px;
  /* margin-top:10px; */
}
.navbar{
  justify-content: space-between;
  background-color:rgb(37, 35, 35);
  opacity: 0.8;
  color:white;
}
.drop{
  background-color:rgb(37, 35, 35);
  color:white;
  font-size: 16px;
  font-weight: 500;
  font-family:Roboto, "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}
drop:hover {
  background-color:#0fc9c9 !important;
}
select.decorated option:hover{
  background-color:#0fc9c9  inset;
}
