<app-nav (customevent)="updateFromChild($event)"></app-nav>

<!-- Mobile menu toggle button -->
<button mat-icon-button class="menu-button" (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="drawerMode" [opened]="isScreenLarge" class="sidenav">

    <!-- Shared items -->
    <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/trends">
      <mat-icon class="custom_menu_icon">whatshot</mat-icon>
      <p class="menu_p">Trending Restaurants</p>
    </div>

    <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/allRestaurants">
      <mat-icon class="custom_menu_icon">local_dining</mat-icon>
      <p class="menu_p">All Restaurants</p>
    </div>

    <!-- Customer Menu -->
    <div *ngIf="role === 'CUSTOMER'">
      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/cart">
        <mat-icon class="custom_menu_icon">shopping_cart</mat-icon>
        <p class="menu_p">Cart</p>
      </div>

      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/viewMyOrders">
        <mat-icon class="custom_menu_icon">fastfood</mat-icon>
        <p class="menu_p">My Orders</p>
      </div>

      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/areaRecommendation">
        <mat-icon class="custom_menu_icon">near_me</mat-icon>
        <p class="menu_p">Nearby Restaurants</p>
      </div>

      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/addressbook">
        <mat-icon class="custom_menu_icon">home</mat-icon>
        <p class="menu_p">Address Book</p>
      </div>
      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/wallet">
        <mat-icon class="custom_menu_icon">account_balance_wallet</mat-icon>
        <p class="menu_p">Top Up Wallet</p>
      </div>
    </div>

    <!-- Vendor Menu -->
    <div *ngIf="role === 'VENDOR'">
      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/vendorHome">
        <mat-icon class="custom_menu_icon">fastfood</mat-icon>
        <p class="menu_p">My Restaurants</p>
      </div>

      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="home/restaurantRegister">
        <mat-icon class="custom_menu_icon">add_business</mat-icon>
        <p class="menu_p">Add Restaurant</p>
      </div>
    </div>

    <!-- Admin Menu -->
    <div *ngIf="role === 'ADMIN'">
      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="newlyAddedRestaurant">
        <mat-icon class="custom_menu_icon">fastfood</mat-icon>
        <p class="menu_p">New Restaurants Approval</p>
      </div>

      <div class="content" mat-list-item [routerLinkActive]="['is-active']" routerLink="showRatingBasedRestaurant">
        <mat-icon class="custom_menu_icon">local_dining</mat-icon>
        <p class="menu_p">Reject Low Rating Restaurants</p>
      </div>
    </div>

  </mat-drawer>

  <mat-drawer-content class="cvv">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-foot></app-foot>
