<div class="cards">
    <div class="container d-flex h-40 ">
        <div class="mx-auto text-center"><br><br><br>
        <div class="row">
            <div class="col-md-10 offset-2 card">
                <label>Select Rating :</label>
                    <select [(ngModel)]= "rating">
                        <option ng-value=1>1</option>
                        <option ng-value=2>2</option>
                        <option ng-value=3>3</option>
                        <option ng-value=4>4</option>
                        <option ng-value=5>5</option>
                    </select>
                    <button class="btn btn-primary bg" (click)="restaurantBasedOnRatings()">Search Restaurants</button>
                </div>
                </div>
        </div>
    </div>
</div>
    