.footer{
    position: fixed;
    
    bottom: 0; 
    width: 100%;
    padding :20px;
    background-color:rgb(37, 35, 35);
    opacity: 0.8;
    color: transparent !important;
}


  .mat-primary {
    background: primary;
    color: white!important;
  }
  