<div class="container-fluid">
  <div class="grid-container">
      <div *ngFor="let r of restaurants" class="mr-auto ml-auto">
        <div class="card mb-4 mx-auto" style="max-width: 350px;">
          <!-- Header Row: Name & Type in one line -->
          <div class="card-body py-2">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-title mb-0">{{ r.restaurantName }}</h4>
              <h6 [ngClass]="r.restaurantType === 'Nonveg' ? 'text-danger' : 'text-success'" 
                  matTooltip="Restaurant type" class="mb-0">
                {{ r.restaurantType }}
              </h6>
            </div>
          </div>
        
          <!-- Restaurant Image -->
          <img [src]="r.photoUrls[0]" class="card-img-top" alt="Restaurant photo" style="height: 200px; object-fit: cover;">
        
          <!-- Details Below -->
          <div class="card-body pt-2">
            <p>
              <mat-icon matTooltip="Average rating" class="checked">star</mat-icon>{{r.avgRating}}
            </p>
            <p>
              <mat-icon matTooltip="Address" class="bax1"> place</mat-icon>
              {{r.addressLine1}}, {{r.area}}, {{r.city}}, {{r.resState}} - {{r.pincode}}
            </p>
            <p>
              <mat-icon matTooltip="Restaurant contact" class="bax"> call</mat-icon> {{r.restaurantContact}}
            </p>
            <p>Cost for Two : {{r.transaction.restaurantApproxCost}}</p>
            <p class="axn" matTooltip="Restaurant status" *ngIf="r.transaction.restaurantStatus">CURRENTLY OPEN</p>
            <p class="axn1" matTooltip="Restaurant status" *ngIf="!r.transaction.restaurantStatus">CURRENTLY CLOSED</p>
        
            <!-- Action Button -->
            <button mat-button matTooltip="Click to check menu" class="btn1" (click)="checkMenu(r.restaurantId)">CHECK MENU</button>
          </div>
        </div>
      </div>
  </div>
</div>