<div class="container-fluid">
  <div class="grid-container">
  <div *ngFor="let r of restaurants" class="mr-auto ml-auto">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="mtitle">{{r.restaurantName}}</mat-card-title>
        <div *ngIf="r.restaurantType=='Nonveg'" class="das">
          <mat-card-subtitle class="reg">{{r.restaurantType}}</mat-card-subtitle>
        </div>
        <div *ngIf="!(r.restaurantType=='Nonveg')" class="das">
          <mat-card-subtitle class="reg1">{{r.restaurantType}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img mat-card-image class="mag" src={{r.photoUrls[0]}} alt="Restaurant photo">
      <mat-card-content>
        <p>
          <mat-icon matTooltip="Average rating" class="checked">star</mat-icon>{{r.avgRating}}
        </p>
        <p>
          <mat-icon matTooltip="Address" class="bax1"> place</mat-icon>
          {{r.addressLine1}}, {{r.area}}, {{r.city}}, {{r.resState}} - {{r.pincode}}
        </p>
        <p>
          <mat-icon matTooltip="Restaurant contact" class="bax"> call</mat-icon> {{r.restaurantContact}}
        </p>
        <p>Cost for Two : {{r.transaction.restaurantApproxCost}}</p>
        <p class="axn" matTooltip="Restaurant status" *ngIf="r.transaction.restaurantStatus">CURRENTLY OPEN</p>
        <p class="axn1" matTooltip="Restaurant status" *ngIf="!r.transaction.restaurantStatus">CURRENTLY CLOSED</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button matTooltip="Click to check menu" class="btn1" (click)="checkMenu(r.restaurantId)">CHECK MENU</button>
        <!-- <button mat-button class="btn2" (click)="bookTable(r.restaurantId)">BOOK A TABLE</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>